# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands on practice creating and using lambda functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames

## Lambda Functions

In [2]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv')
df.head(2)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple Arithmetic

Use a lambda function to create a new column called 'stars_squared' by squarring the stars column.

In [4]:
#Your code here
df['stars_squared']=df.stars.apply(lambda x: x**2)

## Dates
Select the month from the date string using a lambda function.

In [5]:
# Your code here
df['month']=df.date.apply(lambda x: x.split("-")[1])

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [6]:
# Your code here
df['text'].apply(lambda x: len(x.split())).mean()

77.06551724137931

## Create a new column for the number of words in the review.

In [7]:
#Your code here
df['len_text']=df['text'].apply(lambda x: len(x.split()))

## Rewrite the following as a lambda function. Create a new column 'Review_Length'

In [12]:
def rewrite_as_lambda(value):
    if value < 50:
        return 'Short'
    elif value < 80:
        return 'Medium'
    else:
        return 'Long'
#Hint: nest your if, else conditionals

In [13]:
#Your code here
df['Review_Length']=df.len_text.apply(lambda x: rewrite_as_lambda(x))

## Level Up: Dates Advanced!
<img src="images/world_map.png" width="600">  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [14]:
#Your code here
def date_convert(string):
    list1=string.split("-")
    return list1[2]+"-"+list1[1]+"-"+list1[0]
df['date_convert']=df['date'].apply('date_convert')

ValueError: date_convert is an unknown string function

## Summary

Great! Hopefully you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.